body {
    margin: 0;
}

.form-title {
    text-align: center;
}

.form-container {
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    width: 90%;

    background-color: #97d9ff7c;
}

.form-container input {
    margin: 10px;
    border: none;
    border-radius: 8px;
    padding: 7px 15px;
}